.contact-data {
  width: 30%;
  margin: 20px auto;
  text-align: center;
  box-sizing: border-box;
}

.contact-data input {
  width: 100%;
  display: block;
  margin: 20px 0;
  box-sizing: border-box;
}
